.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
.heading{
    text-align: center;
}
.inputText{
    margin-top: 20px;
}
.btn{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}